body {
    font-family: sans-serif;
    margin-top: 40px;
}
.regform {
    width: 800px;
    background-color: rgba(19, 87, 34, 0.8);
    margin: auto;
    color: #FFFFFF;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}
.main-form {
    width: 800px;
    margin: auto;
    background-color: rgb(0, 0, 0, 0.7);
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    color: #FFFFFF;
}
img {
    max-height: 400px;
    max-width: 500px;
    height: auto;
    width: auto;
}